:root {
    --grid-cols: 16;
    --grid-rows: 16;
}
body {
    background-color: #002b36;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    align-items: center;
}
h1{
    font-family: 'Lobster', cursive;
    text-align: center;

}
button{
    margin: 20px;
}
#grid-container {
    width: 660px;
    height: 660px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-rows), 1fr);
    background-color: #fff;
    border-color: black;
    /* user-select: text; */
}

label {
    color: #fff;
    
}

.grid-item {
    padding: 1em;
    border: 1px solid #ddd;
    text-align: center;
    /* user-select: none; */
}

/* color scheming */
.headings{
    color:#839496;
    color: #fff;
    
}
.container{
    background-color: #073642;
    padding: 15px 50px 50px;
    margin-top: 50px;  
    margin-bottom: 15px;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items:center;
    text-decoration: bold;
}

.options {
    margin: 25px;
}


.grid-item:hover {
    /* background-color: #002b36; */
    border-color: red;
}
